*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: firago;
}
@font-face {
  font-family: firago;
  src: url(fonts/FiraGO-Italic.woff2);
}
.upper-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding-top: 5px;
}
.search{
   border: solid 1px grey;
   height: 45px;
   width: 500px;
}
.search > input {
    width: 90%;
    border: none;
    outline: none;
    height: 100%;
    padding-left: 10px;
}
.log-in > a{
    display: block;
    color: black;
    font-size: 35px;
    padding-right: 20px;
}
.log-in > a:hover {
    display: block;
    color:#007bff;
}
.log-in{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navbar {
    overflow: hidden;
    background-color:#007bff;
    font-family: Arial;
    display: flex;
    justify-content: center;
  }
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .dropdown {
    float: left;
    overflow: hidden;
  }
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font: inherit; 
   
    margin: 0; 
  }
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #fff;
    color: #007bff;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
  .column {
    float: left;
    width: 33.33%;
    padding: 10px;
    background-color: #fff;
    height: 250px;
  }
  .column a {
    float: none;
    color: black;
    padding: 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .column a:hover {
    background-color: #fff;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
.slideshow-container {
  max-width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}
.mySlides {
  display: none;
  margin-top: 20px;
  width: 90%;
}
.mySlides > img {
  border-radius: 10px;
  width: 100%;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
h3{
  border-bottom: solid 1px #e3e3e3;
  width: 20%;
}
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
a{
  color: black;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
  color: #007bff;
}
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

.container > input {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.container > button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 30%;
}

button:hover {
  opacity: 0.8;
}
.main-message{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.extra-offers{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}
.geo-brands{
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.geo-brands > img {
  width: 30%;
  border-radius: 10px;
}
.offer-img{
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.offer-img>img{
  width: 100%;
}
.offer{
 display: flex;
  width: 90%;
  gap: 10px;
  margin-top: 20px;
  justify-content: center;
  margin-bottom: 40px;
}
.offer>img{
  width: 25%;
  border-radius: 10px;
}
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
  width: 30%;
}
.collections{
  display: flex;
  width: 90%;
  justify-content: center;
  gap: 5px;
}
.collections>a > img{
  width: 100%;
  border-radius: 12px;
}
.container {
  width: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center
}

span.psw {
  float: right;
  padding-top: 16px;
}
.upper-footer{
  background-color: #89a4c7;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.upper-left{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 20px;
  width: 80%;
}
.upper-right{
  font-size: 38px;
  padding-right: 25px;
  display: flex;
  gap: 30px;
  width: 30%;
}
.upper-footer > h2 {
  font-size:30px;
}
.fa-facebook-f:hover , .fa-instagram:hover, .fa-linkedin-in:hover{
  color: rgb(10, 10, 72);
}
.fa-youtube:hover{
  color: red;
}
.upper-right> a > i {
  color: white;
}
.footer-input{
  width: 30%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-input > i {
  color: black;
  padding-right: 10px;
}
.footer-input>input{
  width:90%;
  height: 35px;
  border: none;
  outline: none;
  padding-left: 10px;
}
.detail-information{
  display: flex;
  gap: 100px;
}
.information{
  padding: 2%;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.information>h2{
  border-bottom: 1px solid grey;
}
ul{
  list-style-type: none;
}
ul>h4{
  border-bottom: solid 1px grey;
}
#targetElementId{
  display: grid;
  grid-template-columns: repeat(12,1fr);
  width: 100%;
  margin: auto;
  min-width: 540px;
}
#grid{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 10px;
  padding-top: 20px;
  width: 100%;
  margin-bottom: 20px;
}
#grid > div >img {
  width: 100%;
  height: 80%;
}
.flex{
  display: flex;
}
#grid > div:hover p{
  color: #007bff;
  text-decoration: underline;
  font-size: 11px;
}
#grid > div>p:hover{
  font-size: 13px;
  transition: 0.2s;
}
#grid > div:hover img{
  width: 98%;
}
.hover{
  display: none;
}
#grid > div:hover .hover {
  display: block;
  transform: 0.4s;
  font-size: 12px;
}
#grid > div:hover{
  border: 1px solid #89a4c7;
  border-radius: 10px;
  background-color: whitesmoke;
}
#grid > div > p, span {
  margin-top: 10px;
  height: 20%;
  width: 90%;
  margin: auto;
}
#grid > div > span {
  color: gray;
  font-size: 12px;
  padding-top: 25px;
}
#grid > div{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  padding: 10px;
}
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
  h2{
    font-size: 15px;
  }
}
@media only screen and (max-width:1180px){
  .upper-header > .search{
      width: 40%;
  }
  .upper-header{
    justify-content: space-around;
  }
  .search{
    width: 200px;
  }
  .logo{
      width: 180px;
  }
  .log-in> a > i{
      font-size: 25px;
  }
  .log-in> a > label {
      width: 20px;
  }
.container > input {
  width: 60%;
  height: 25px;
  font-size: 13px;
  padding: 0;
}
.footer{
  width: 100%;
}

.upper-footer{
  width: 100%;
  font-size: 10px;
  flex-direction: column;
  align-items: start;
}
.upper-right>i{
  font-size: 15px;
  gap: 10px;
}
.offer-img > h4 {
  font-size: 12px;
}
#targetElementId > img{
  width: 60px;
}
#grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
  width: 100%;
}
.information{
  width: 50%;
}
.detail-information{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 10px;
  font-size: 8px;
}

 }
@media only screen and (max-width:896px){
  .search {
    width: 100px;
  }
  .search > input{
    width: 80%;
  }
  .log-in{
    
  }
  .logo{
    width: 120px;
  }
}

@media only screen and (max-width:673px){
  .logo{
    width: 80px;
  }
  .search{
    width: 80px;
  }
  .search >input {
    width: 80%;
  }
  .column > a {
    font-size: 10px;
  }
  .column > h3 {
    font-size: 13px;
  }
  .detail-information{
    flex-direction: column;
    align-items: start;
    display: none;
  }
  .upper-footer{
    width: 100%;
    font-size: 10px;
    flex-direction: column;
    align-items: start;
    gap: 5px;
  }
  #targetElementId{
    display: none;
  }
  .footer-input {
    width: 200px;
  }
  .offer-img > h4 {
    font-size: 8px;
  }
  #grid{
    display: grid;
    grid-template-columns: repeat(2,0.5fr);
    gap: 10px;
    width: 100%;
  }
  #grid > div > span {
    display: none;
  }
  #grid > div > p {
    font-size: 8px;
  }
  #grid > div:hover{
    border: none;
  }
  #grid > div > p:hover{
    font-size: 8px;
  }
}

